.main-banner {
  position: relative;
  width: @mobile-width;
  margin: 0 auto;
  background-color: @base-color;
  background-image: url("../img/main-banner.jpeg");
  background-size: 800px;
}

.main-banner__wrapper{
  background-color: rgba(0,0,0,0.5);
  padding: 40px 20px 80px 20px;
}

.main-banner__title {
  font-size: @h1-title-size;
  padding-top: 27px;
  padding-bottom: 40px;
  color:@text-additional-color;
}

.main-banner__description {
  padding-bottom: 40px;
  font-size: @text-size;
  font-weight: 500;
  color: @text-additional-color;
  line-height: 1.3em;
}

.main-banner__image {
  position: absolute;
  bottom:-73px;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
}

.main-banner__button {
  margin-top: 10px;
}
