.site-list{
  .all-lists;
  background-color: @bg-color;
  width: 100%;
}

.site-list__item{
  border-bottom: solid 1px @border-color;

  &:first-of-type{
    border-top: solid 1px @border-color;
  }

  &:active{
    border-color: @bg-color;
  }
}

.site-list__item a{
  display: block;
  text-decoration: none;
  padding: 20px 0;
  color: @text-color;
  cursor: pointer;
  user-select: none;

  &:hover{
    color:@base-color;
  }

  &:active{
    color:@text-color--white-text;
    background-color: @base-color;
  }
}
