.title{
  font-weight: 700;
  text-align: center;
  color:@text-color;
}

.title--section{
  font-size: @h2-title-size;
  padding: 10px 0 30px 0;
}

.title--element{
  font-size: @h3-title-size;
  font-weight: 500;
  padding: 15px 0 10px 0;
}
