@base-font:"Helvetica Neue", "Arial", sans-serif;
@base-color:#068ff7;
@base-color-darker:darken(@base-color, 8%);
@base-additional-color:#ffffff;
@footer-color:#303036;

@alternate-section-color:#f0f4f8;
@text-color:#000000;
@text-additional-color:#ffffff;

@h1-title-size:36px;
@h2-title-size:28px;
@h3-title-size:21px;
@text-size:16px;

@mobile-width:320px;
