@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Light"), local("Helvetica-Neue-Light"), url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Medium"), local("Helvetica-Neue-Medium"), url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Bold"), local("Helvetica-Neue-Bold"), url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.button {
  display: block;
  width: 170px;
  padding: 10px 20px;
  border: solid 1px transparent;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  background-color: #068ff7;
  color: #ffffff;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.button:hover {
  background-color: #0578cf;
}
.button:active {
  color: rgba(255, 255, 255, 0.5);
}
.button--alternate {
  background-color: transparent;
  border-color: #ffffff;
}
.button--alternate:hover {
  background-color: #ffffff;
  color: #000000;
}
.button--alternate:active {
  color: rgba(0, 0, 0, 0.5);
}
.title {
  font-weight: 700;
  text-align: center;
  color: #000000;
}
.title--section {
  font-size: 28px;
  padding: 10px 0 30px 0;
}
.title--element {
  font-size: 21px;
  font-weight: 500;
  padding: 15px 0 10px 0;
}
body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: #ffffff;
  color: #000000;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
section,
main,
header,
footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  width: 320px;
  margin: 0 auto;
}
.page-header__logo {
  min-height: 45px;
  padding: 10px;
  padding-left: 17px;
}
.main-nav {
  position: relative;
}
.main-nav__toggle {
  position: absolute;
  top: -50px;
  right: 0;
}
.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-list__item {
  min-height: 65px;
  border-top: solid 1px lightgray;
  text-align: center;
}
.site-list__item a {
  display: block;
  padding: 21px 0;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.site-list__item a:hover {
  color: rgba(0, 0, 0, 0.4);
}
.site-list__item a:active {
  color: rgba(0, 0, 0, 0.2);
}
.main-banner {
  position: relative;
  width: 320px;
  margin: 0 auto;
  background-color: #068ff7;
  background-image: url("../img/main-banner.jpeg");
  background-size: 800px;
}
.main-banner__wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px 20px 80px 20px;
}
.main-banner__title {
  font-size: 36px;
  padding-top: 27px;
  padding-bottom: 40px;
  color: #ffffff;
}
.main-banner__description {
  padding-bottom: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.3em;
}
.main-banner__image {
  position: absolute;
  bottom: -73px;
  left: 50%;
  margin-right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.main-banner__button {
  margin-top: 10px;
}
.product {
  width: 320px;
  margin: 0 auto;
  padding: 40px 0;
}
.product__item {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  border: solid 1px lightgray;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
}
.product__icon {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background-color: #068ff7;
  border-radius: 50%;
}
.product__description {
  color: #808080;
  padding-bottom: 30px;
  line-height: 1.3em;
}
.product__link {
  margin: auto;
}
.why {
  width: 320px;
  margin: 0 auto;
  padding: 40px 0;
  background-color: #f0f4f8;
  counter-reset: item;
}
.why__item {
  padding-left: 100px;
  padding-right: 20px;
  margin-bottom: 30px;
  position: relative;
  display: block;
}
.why__item:before {
  content: counters(item, "", decimal-leading-zero);
  counter-increment: item;
  position: absolute;
  top: 14px;
  left: 20px;
  color: #068ff7;
  font-weight: 700;
  font-size: 21px;
}
.why__item:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 42px;
  top: 26px;
  left: 50px;
  background-color: #000000;
}
.why__title {
  text-align: left;
  width: 200px;
}
.why__description {
  color: #808080;
  line-height: 1.3em;
}
.contact {
  width: 320px;
  margin: 0 auto;
  padding: 40px 0 0 0;
}
.contact__title {
  padding-left: 10px;
  text-align: left;
}
.contact__description {
  padding-left: 10px;
}
.contact__map {
  margin-top: 20px;
  height: 250px;
  background-image: url("../img/map.png");
  background-size: 500px;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}
.page-footer {
  width: 320px;
  margin: 0 auto;
  padding: 20px 20px 10px 20px;
  background-color: #303036;
}
.page-footer__logo-image {
  -webkit-filter: brightness(150%) grayscale(100%);
          filter: brightness(150%) grayscale(100%);
}
.page-footer__about {
  color: #ffffff;
  opacity: 60%;
  padding-bottom: 10px;
}
.page-footer__social {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 80px;
}
.social__item {
  margin-right: 8px;
  border: solid 1px #ffffff;
  border-radius: 3px;
  opacity: 60%;
  display: inline-block;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.social__item:hover {
  opacity: 100%;
}
.social__item--vk {
  background-image: url("../img/vk.svg");
  background-size: 23px;
}
.social__item--fb {
  background-image: url("../img/facebook.svg");
  background-size: 12px;
}
.social__item--inst {
  background-image: url("../img/instagram.svg");
  background-size: 19px;
}
.social__item a {
  display: block;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

/*# sourceMappingURL=style.css.map */
